################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/dist
bin/
obj/
*.user
*.nupkg
TestResults/
# A client's production flow definition, used as the large-flow test benchmark.
# Kept local: the repository is public.
Tests/lapd-clientdata.json
